@charset "UTF-8";

@media screen and (min-width: 800px) {
    
    #perfil{
        display: none;
        align-items: left;

    }

    section.home{
        text-align: left;
        padding: 10px;
        padding-top: 35vh;
        padding-bottom: 35vh;
        font-size: 50px;
    }
  
section.sobre{
    text-align: left;
    padding: 10px;

}

#perfil{
    display: inline-block;
}

.textoperfil{
    display: inline-block;
    
}
}

