@charset "UTF-8";

@media screen and (min-width: 800px) {
    
    /*HOME*/
    section.home{
        text-align: left;
        padding: 10px;
        padding-top: 35vh;
        padding-bottom: 35vh;
        font-size: 50px;
    }
    /*SOBRE*/
    #sobre{
        display: flex;
        flex-direction: row;   
        justify-content: center;
        align-items: center;
    }
    
    .sobre-foto{
        display: block;
    }

    .sobre-foto img{
        max-width: 350px;
        height: 350px;
        padding: 10px;
    }

 
    .sobre-texto{
        display: block;
        text-align: left;
        padding: 40px;
    }   
    
    /* Dessa forma também funciona. Preciso aprender como funciona as GRIDS
    #sobre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    }
    */

  

}