@use '../abstract/variaveis';
@use '../abstract/mixins';

header{
    background: variaveis.$gradiente-primario ;
    padding: 2rem;
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        .linha{
            border-top: 1px solid black;
            width: 80%;
            margin-top: 15px;
        }
        ul{
            display: inline-flex;
            gap: 2rem;
            li{
                list-style-type: none;
            }
            a:hover{
                font-weight: 1000;
                transition: font-weight 0.3s ease-in-out;
            }
            a {
                text-decoration: none;
                @include mixins.ff-fs-cl(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
                font-weight: 500;
                transition: font-weight 0.2s ease;
                       }
        }
    }
    #home{
        max-width: 1040px;
        @include mixins.margem-central(80%); //adiciona o mixin que foi criado no arquivo mixins
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textos-home{
            max-width: 464px;
            h1{
                font-size: 42px;
                color: variaveis.$cor-primaria;
                margin-bottom: 2rem;
                font-family: variaveis.$ft-titulos;
                span{
                    color: variaveis.$cor-segundaria;
                }
            }

        }
        .img-home{
            max-width: 474px;
            img{
                width: 100%;
            }
        }
        .btn-main:hover {
            background-color: #4E75FF;
        }
        .btn-main{
            background-color: #4e74ff44;
            transition: background-color 0.5s ease-in-out;
            color: white;
            padding: 15px;
            font-family: variaveis.$ft-textos;
            border: none;
            border-radius: 30px;
            width: 280px;
            font-size: 1.3rem;
        }
    }
   

   
}